@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
}

.flex_space_between{
    display: flex;
    justify-content: space-between;
}

.m_b{
    margin-bottom: 33px;
}

#green_canva{
    width: 94%;
    height: 30vh;
    background: #429690;
    border-bottom-right-radius: 25%;
    border-bottom-left-radius: 25%;
    padding: 5% 3%;

}